@page
@model formPageModel
@{
    ViewData["Title"] = "Courses 1";
    var Persons = Model.Persons;
    int i = 1;
}

<form method="post">
    <div class="input-group mb-3 w-50">
        <input type="text" class="form-control" asp-for="SearchName" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary" asp-page-handler="Search">搜尋</button>
            <a class="btn btn-success" asp-page="Create">新增</a>
        </div>
    </div>
</form>
<div class="table-hover table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="25%">姓名</th>
                <th width="20%">性別</th>
                <th width="35%">身分證</th>
                <th width="15%">編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Persons)
            {
                <tr>
                    <td>@i</td>
                    <td>@person.Name</td>
                    <td>@person.Sex</td>
                    <td>@person.IdNumber</td>
                    <td class="text-nowrap">
                        <a class="btn btn-info" asp-page="Edit" asp-route-name="@person.Name" asp-route-sex="@person.Sex" asp-route-idnum="@person.IdNumber" asp-route-uid="@person.UniqueId">修改</a>
                        <a class="btn btn-danger" asp-page="Delete" asp-route-name="@person.Name" asp-route-sex="@person.Sex" asp-route-idnum="@person.IdNumber" asp-route-uid="@person.UniqueId">刪除</a>
                    </td>
                </tr>
                i++;
            }
            @if (Persons.Count <= 0)
            {
                <tr>
                    <td colspan="5" class="text-center">沒有相符的資料</td>
                </tr>
            }
        </tbody>
    </table>
</div>
