@page
@model formPageModel
@{
    ViewData["Title"] = "搜尋";
    var personList = Model.Person_List;
    if (Model.Personal.Count != 0)
    {
        personList = Model.Personal;
    }
    //if(TempData["test"] != null)
    //{
    //    personList = TempData["test"] as List<Model.person>;
    //}
}
<h5>@TempData["test"]</h5>
<form method="post">
    <div class="input-group mb-3 w-50">
        <input type="text" class="form-control" asp-for="SearchName" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary" asp-page-handler="Search">搜尋</button>
            <button type="submit" class="btn btn-success" asp-page-handler="New">新增</button>
        </div>
    </div>
</form>
<div class="table-hover table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="25%">姓名</th>
                <th width="25%">性別</th>
                <th width="25%">身分證</th>
                <th width="25%">編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var person in personList)
            {
            <tr>
                <td>@person.name</td>
                <td>@person.sex</td>
                <td>@person.id</td>
                <td>
                    <button type="button" class="btn btn-info" asp-route-id="@person.index">修改</button>
                    <button type="button" class="btn btn-danger" asp-route-id="@person.index">刪除</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
